html {
    margin: 0 auto;
    background: #ced3d9;
    font-size: 100PX;
}

* {
    max-width: 750px;
    margin: 0 auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-variant: tabular-nums;
    background: #fff;
    min-height: 100vh;
    margin: 0 auto;
}

img {
    width: 100%;
}

.hidden {
    width: 0;
}

.header {
    width: 100%;
    background: #19232c;
    border-bottom: solid 1px #1e2730;
    box-sizing: border-box;
    margin: 0 auto;
    padding: .2rem 0;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.header .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 3%;
}

.logo img {
    width: 40%;
    margin: 0;
}

.logo a {
    display: flex;
    padding: .15rem .4rem;
    border-radius: 0.5rem;
    text-align: center;
    color: #fff;
    border: 1px solid #4a5b68;
    font-size: .38rem;
    margin: 0;
}

.logo #closetc {
    width: .4rem;
    height: .4rem;
    background: url(../img/icon_close.png) no-repeat top center;
    background-size: 100% auto;
    margin-right: .2rem;
    z-index: 999;
    display: none;
}

.part1 {
    width: 100%;
    box-sizing: border-box;
    padding: 0 .3rem;
    background-color: #fff;
    border-radius: .5rem .5rem 0 0;
    position: relative;
    top: -.4rem;
    z-index: 99;
}

.part_title {
    color: #19232c;
    font-size: .44rem;
    line-height: .58rem;
    width: 100%;
    text-align: center;
    font-weight: 700;
    padding: .34rem 0;
}

.randompart {
    background-color: #f0f3f7;
    border-radius: .3rem;
    padding: .18rem .2rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: .2rem;
}

.rand1,
.rand2 {
    width: 50%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.r_left,
.r_right {
    margin: 0;
}

.randompart span.randnum {
    color: #44be4c;
    font-size: .48rem;
    font-weight: bold;
    margin: 0;
    margin-left: -0.06rem;
}

.randompart img {
    width: 18%;
    margin: 0;
}

.randompart span.rantitle {
    color: #6c7381;
    font-size: .36rem;
    margin: 0;
}

.randompart .r_right {
    display: flex;
    flex-direction: column;
}

/* å¹»ç¯ç‰‡ç›¸å…³ */
.swiper-container.banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: #000;
    padding-top: 1.2rem;
}

.swiper-container.banner .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-container.banner .swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-container.banner .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container.banner .swiper-pagination {
    position: absolute;
    text-align: center;
    /* 	-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s; */
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
    bottom: 0.1rem;
    width: 100%
}

.tabmenu {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.tabmenu li {
    width: 100%;
    /* background-color: #999; */
    padding: .22rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabmenu li img {
    height: .68rem;
    width: auto;
}

.tabmenu li p {
    font-size: .46rem;
    color: #999;
    text-align: center;
    font-weight: bold;
}

.tabmenu li.current p {
    color: #666;
}

.tip_container {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem .2rem .5rem;
    background-color: #f0f3f7;
    margin: 0 auto;
    color: #19232c;
}

.tip_container h1 {
    text-align: center;
    font-size: .46rem;
    font-weight: bold;
    padding: 0 1.24rem .3rem;
}

.tip_box {
    padding: .4rem .32rem;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border-radius: .2rem;
    position: relative;
    margin-bottom: .2rem;
}

.tip_box .tiplogo {
    font-size: .5rem;
    width: 1rem;
    height: 1rem;
    background: url(../img/ribbon.png) no-repeat top center;
    background-size: contain;
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: -.07rem;
}

.tip_box h1 {
    font-size: .38rem;
    font-weight: bold;
}

.tip_box p {
    color: #4a5b68;
    font-size: .34rem;
    text-align: justify;
    line-height: .54rem;
}

.guide_video {
    width: 100%;
    box-sizing: border-box;
    padding: .4rem .3rem 0;
    background-color: #fff;
    margin: 0 auto;
    color: #19232c;

}

.guide_video .video_box {
    width: 100%;

}

.video_box iframe {
    width: 100%;
    padding-bottom: .6rem;
    padding-top: .4rem;
    min-height: 4rem;
}

.guide_video h1 {
    font-weight: bold;
    font-size: .46rem;
    color: #19232c;
    text-align: center;
    padding-bottom: .3rem;
}

.guide_video p {
    padding: .1rem 0;
    font-size: .34rem;
    line-height: .54rem;
    font-weight: 400;
    color: #19232c;
}

.guide_video p span {
    color: #44be4c;
    font-weight: bold;
}

.tab_con {
    width: 100%;
    box-sizing: border-box;
    padding: .2rem .2rem 0;
    background-color: #f0f3f7;
    margin: 0 auto;
    color: #19232c;
}

.tab_con h1 {
    text-align: center;
    font-size: .46rem;
    font-weight: bold;
    padding: .3rem;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weblist {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weblist li {
    width: 100%;
    margin-bottom: .2rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .15rem 0;
    align-items: center;
}

.weblist li img {
    width: 15%;
    border-radius: .2rem;
    display: block;
    margin: 0 .1rem 0 .1rem;
}

.weblist .ranktitle {
    font-size: .5rem;
    font-weight: 700;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0 .2rem 0 .1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 35px;
    color: #999;
}

.weblist li:nth-child(1) span.ranktitle {
    color: #ff280b;
}

.weblist li:nth-child(2) span.ranktitle {
    color: #22a300;
}

.weblist li:nth-child(3) span.ranktitle {
    color: #0097ff;
}

.weblist .gametitle {
    font-size: .46rem;
    line-height: .54rem;
    color: #19232c;
    font-weight: 600;
    margin: 0;
}

span.gamedetail {
    font-size: .34rem;
    color: #6c7381;
    margin: 0;
}

.weblist li p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    text-align: left;
    width: 60%;
}

.weblist a.weblink {
    display: block;
    border-radius: .14rem;
    background-color: #44be4c;
    padding: .16rem .24rem;
    color: #fff;
    text-align: center;
    font-size: .36rem;
    margin: 0;
    margin-left: .2rem;
}

.weblist a.weblink:hover {
    background-color: #b3b3b3;
}

.item-icon img {
    width: 100%;
    border-radius: .2rem;
}

.menulist {
    list-style: none;
}

.menulist li img {
    width: 100%;
    border-radius: .2rem;
    position: relative;

}

.menulist p {
    text-align: center;
    color: #fff;
    font-size: .3rem;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0 0 .2rem .2rem;
    line-height: .6rem;
    height: .68rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menulist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menulist li {
    margin-right: .2rem;
    width: calc((100% - .2rem) / 2);
    margin-bottom: .2rem;
    position: relative;
}

.menulist li a {
    display: flex;
    flex-direction: column;
}

.menulist li:nth-child(2n) {
    margin-right: 0;
}

.menulist:after {
    content: "";
    flex: auto;
}

.jogo .menulist span {
    width: 60%;
    display: none;
    color: #000;
    background-color: rgba(45, 227, 112, 0.9);
    opacity: .9;
    height: .6rem;
    border-radius: .3rem;
    text-align: center;
    line-height: .54rem;
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: .34rem;
}

.jogo .menulist li:hover span {
    display: block;
}

.jogo {

    justify-content: space-between
}

.service_part {
    width: 100%;
}

.service_part h1 {
    color: #19232c;
    font-size: .5rem;
    text-align: center;
    font-weight: bold;
    padding: .5rem 0 0;
}

.service_part p {
    font-size: .34rem;
    color: #4a5b68;
    width: 92%;
    text-align: justify;
    margin: .3rem auto;
}

.grid-container {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    /* åˆ›å»ºä¸¤åˆ—ï¼Œæ¯åˆ—å®½åº¦ç›¸ç­‰ */
    grid-template-rows: repeat(2, 1fr);
    /* åˆ›å»ºä¸¤è¡Œï¼Œæ¯è¡Œé«˜åº¦ç›¸ç­‰ */

}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #d5dde3;
    border-top: 1px solid #d5dde3;

    &:nth-child(2n) {
        border-right: 0 none;
    }

    &:nth-child(-n + 2) {
        border-top: 0 none;
    }

}

.grid-item img {
    width: .51rem;
    height: auto;
    padding-top: .2rem;
}

.grid-item .digt {
    color: #4a5b68;
    font-size: .4rem;
    font-weight: bold;
}

.grid-item .dest {
    color: #4a5b68;
    font-size: .32rem;
    padding-bottom: .6rem;
}

.footer {

    text-align: center;
    overflow: hidden;

    z-index: 199;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 750px;
    background-color: #19232c;
    padding-top: .6rem;
}

.footer .p1 {
    color: #c8d0d7;
    width: 92%;
}

.footer .footer_img {
    width: 90%;
    margin: .4rem auto;
    text-align: center;

}

.footer .footer_img img {
    width: 100%;
}

.p1 p {
    text-align: justify;
}

.footer .p2 {
    height: 1.65rem;
    text-align: center;
    font-size: .3rem;
    color: #7b8c98;
    border-top: solid 1px #4a5b68;
    width: 92%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer p {
    font-size: .32rem;
    line-height: 1.5;
}

.footer a {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
}

.footer .p1 span {
    color: #44be4c;

}

.investment {
    margin: 0 auto;
    width: 100%;
    font-size: .34rem;
    line-height: .5rem;
    color: #999;
    font-weight: 500;
    padding: .2rem .2rem .4rem;
    border-bottom: solid 1px #ccc;
}

.investment p a {
    color: #fff;
    text-decoration: none;
    background: #23b0f9;
    border-radius: .08rem;
    padding: 0 .16rem;
}

.investment p a:hover {
    color: #ff0;
}

.investment p.instt {
    font-size: .36rem;
    font-weight: 700;
    color: #f00;
}

.bottom {
    padding: .45rem 0 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.bottom img {
    width: 92%;
}

p.ft {
    text-align: center;
    font-size: 0.26rem;
    color: #999;
    height: 1rem;
    line-height: 1rem;
}

.info_content {
    width: 100%;
    /* background-color: #262626; */
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
}

.info_list h1 {
    width: 100%;
    height: 1rem;
    text-align: center;
    margin: 0 auto;
    background-color: #404040;
    color: #a4a4a4;
    font-size: .46rem;
    line-height: 1rem;
    border-radius: 10px 10px 0px 0px;
}

.info_title {
    width: 100%;
    font-size: .325rem;
    word-spacing: -0.02rem;
    font-weight: 600;
    border-radius: .1rem;
    padding: .26rem;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    position: relative;
    border: solid 1px #c6c9cc;
    border-radius: .1rem;
    z-index: 99;
}

.info_detail {
    color: #19232c;
    font-size: .28rem;
    line-height: .4rem;
    border: solid 1px #c6c9cc;
    border-radius: .1rem;
    padding: .45rem .3rem .3rem;
    box-sizing: border-box;
    background-color: #fff;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -.15rem;
}

.info_detail p {
    padding: .1rem 0;
    font-size: .34rem;
    line-height: .5rem;
    font-weight: 400;
    color: #19232c;
}

.info_detail p span {
    color: #44be4c;
    font-weight: bold;
}

#view_details {
    position: absolute;
    display: block;
    width: .32rem;
    height: .3rem !important;
    right: .4rem;
}

.info {
    margin-bottom: .2rem;
    width: 100%;
}

.info_list {
    margin: 0 auto;
    width: 100%;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.goTop {
    position: fixed;
    bottom: 3rem;
    right: .1rem;
    width: .8rem;
    height: .8rem;
    cursor: pointer;
    z-index: 999;

}

.goTop img {
    height: .8rem;
    width: .8rem;
}


@media screen and (min-width:751px) {

    body,
    html,
    .header,
    .main,
    .footer,
    .myModal,
    .mymodal-content {
        max-width: 576PX !important;
    }

    .weblist li img {
        width: 18%;
        border-radius: .2rem;
        display: block;
        margin: 0 .2rem;
    }

}
