.myModal,
.mymodal-content {
    max-width: 750px;
}

.myModal {
    position: fixed;
    z-index: 102;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(12, 17, 23, .95);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .5s ease;
    margin: 0 auto;
    top: 1.2rem;
}

.modal-header {
    background-color: #19232c;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4rem;
    padding: 0 2.5%;
}

.modal-header img {
    width: 40%;
    padding: .15rem 0;
    margin: 0;
}

.tc-btn {
    width: 90%;
    background-color: #303e48;
    color: #fff;
    font-size: .4rem;
    padding: .3rem .5rem;
    box-sizing: border-box;
    border-radius: .25rem;
    margin: .4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tc-btn img {
    width: .6rem;
    height: .6rem;
    margin: 0;
}

.tc-btn p {
    padding: .2rem .3rem;
    margin: 0;
}


.mymodal-content {
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    top: .4rem;
}

.hidden {
    height: 0;
}

#closetc {
    width: .5rem;
    height: .5rem;
    background: url(../img/icon_close.png) no-repeat top center;
    background-size: 100% auto;
    z-index: 999;
}
